:root {
  --font-principal: 'Inter', sans-serif;
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --shadow-pictures: 0 8px 35px -20px #000;
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  --dark-mode-color: #292c35;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-principal);
  transition: background 0.2s;
}

/* dark mode switcher */

body.dark {
  background: var(--dark-mode-color);
}

.ball.dark {
  background-color: var(--dark-mode-color);
}

.label.dark {
  background: var(--switch);
}

.card__experience.dark {
  color: #fff;
  text-shadow: 0.5px 0 2px gray;
}

.card__name.dark {
  color: #fff;
}

.wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background: #5f616d;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* card styles */

.card {
  height: 100vh;
  background-image: url(/images/pattern-bg.svg), url(/images/pattern-curve.svg),
    url(/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: bottom 90px right 70px, bottom left, 20% 25%;
  background-size: 557.6px 525.6px, auto, 100px 80px;
  display: flex;
  align-items: center;
  padding: 0 140px;
}

.card__content {
  color: var(--dark-blue);
  width: 700px;
}

.card__experience {
  font-weight: lighter;
  font-size: 32px;
  margin-bottom: 30px;
}

.card__name {
  font-size: 15px;
  font-weight: bolder;
  display: inline;
}

.card__name--ocupation {
  color: var(--grayish-blue);
  font-weight: normal;
}

.card__img {
  width: 440px;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: var(--shadow-pictures);
}

.card__button {
  position: relative;
  top: -25px;
  right: -50px;
  width: 90px;
  border-radius: 40px;
  height: 45px;
  padding: 0 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-pictures);
}
